.wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  overflow: hidden;
  background-image: url("../images/bcg.jpg");
  background-size: cover;
  background-position: top;
  font-family: 'Raleway', sans-serif;
  color: #1a2930;
  margin: 0 auto; }
  .wrapper .mask {
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.3); }

.page-header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 3rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .page-header .socials {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    max-width: 170px;
    padding-left: 4rem;
    z-index: 1; }
    .page-header .socials__item {
      -webkit-transition: all .3s ease-in;
      -o-transition: all .3s ease-in;
      transition: all .3s ease-in; }
      .page-header .socials__item-facebook {
        color: #3B5998; }
      .page-header .socials__item-twitter {
        color: #4099ff; }
      .page-header .socials__item-instagram {
        color: #3f729b; }
      .page-header .socials__item-pinterest {
        color: #c92228; }
      .page-header .socials__item:hover {
        -webkit-transform: scale(0.9);
            -ms-transform: scale(0.9);
                transform: scale(0.9);
        -webkit-transition: all .3s ease-in;
        -o-transition: all .3s ease-in;
        transition: all .3s ease-in;
        cursor: pointer; }
  .page-header .burger-container {
    position: fixed;
    top: .5rem;
    right: .5rem;
    height: 2rem;
    width: 2rem;
    margin-right: 0.5rem;
    z-index: 2; }
    .page-header .burger-container .burger {
      height: 100%;
      width: 100%; }
      .page-header .burger-container .burger__item {
        position: relative;
        top: 0;
        display: block;
        height: .3rem;
        background-color: #1a2930;
        position: relative;
        margin: .3rem 0;
        -webkit-transition: all 300ms ease-in;
        -o-transition: all 300ms ease-in;
        transition: all 300ms ease-in; }
    .page-header .burger-container:hover {
      cursor: pointer; }
  .page-header .burger-container.open span:nth-child(1) {
    top: 9.5px;
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    background-color: #c5c0c1; }
  .page-header .burger-container.open span:nth-child(2) {
    opacity: 0; }
  .page-header .burger-container.open span:nth-child(3) {
    top: -9.5px;
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    background-color: #c5c0c1; }
  .page-header .main-nav {
    position: absolute;
    top: 0;
    right: 0;
    margin-right: -15rem;
    z-index: 1;
    width: 75%;
    background-color: #1a2930;
    height: 100%;
    max-width: 15rem;
    -webkit-transition: all 400ms ease-in;
    -o-transition: all 400ms ease-in;
    transition: all 400ms ease-in; }
    .page-header .main-nav .menu {
      position: fixed;
      width: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      margin-top: 2rem; }
      .page-header .main-nav .menu__item {
        list-style-type: none;
        margin: 2rem auto;
        font-size: 2rem;
        width: 100%; }
        .page-header .main-nav .menu__item a {
          text-decoration: none;
          color: #c5c0c1;
          -webkit-transition: all 500ms ease-in;
          -o-transition: all 500ms ease-in;
          transition: all 500ms ease-in; }
          .page-header .main-nav .menu__item a .fa {
            font-size: 2rem;
            margin: 0 1rem 0 2rem; }
          .page-header .main-nav .menu__item a:hover {
            color: #f7ce3b;
            -webkit-transition: all 500ms ease-in;
            -o-transition: all 500ms ease-in;
            transition: all 500ms ease-in; }
  .page-header .show-menu {
    margin-right: 0; }

.content {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative; }
  .content .sidebar {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    background-color: #1a2930;
    padding: 0.3rem;
    position: absolute;
    top: 0;
    left: 0;
    margin: -3rem 0;
    height: 110%;
    padding-top: 3rem;
    z-index: 2;
    width: 2rem; }
    .content .sidebar .submenu {
      width: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      position: fixed;
      width: 2rem; }
      .content .sidebar .submenu__item {
        margin: 2rem auto;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex; }
        .content .sidebar .submenu__item a {
          text-decoration: none;
          color: #c5c0c1;
          -webkit-transition: all .3s ease-in;
          -o-transition: all .3s ease-in;
          transition: all .3s ease-in;
          font-size: 0.8rem;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: center;
              -ms-flex-pack: center;
                  justify-content: center;
          -webkit-box-align: center;
              -ms-flex-align: center;
                  align-items: center;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
              -ms-flex-direction: column;
                  flex-direction: column; }
          .content .sidebar .submenu__item a:hover {
            color: #f7ce3b;
            -webkit-transition: all 300ms ease-in;
            -o-transition: all 300ms ease-in;
            transition: all 300ms ease-in; }
          .content .sidebar .submenu__item a .fa {
            margin-bottom: .3rem;
            font-size: 2rem; }
    @media only screen and (min-width: 1000px) {
      .content .sidebar {
        display: block;
        -webkit-transition: all .3s ease-in;
        -o-transition: all .3s ease-in;
        transition: all .3s ease-in; } }

.container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  margin-left: 2.5rem;
  min-height: 100vh; }
  .container .title {
    width: 100%;
    font-size: 3rem;
    padding: 8rem 0.5rem 3rem;
    font-weight: 700; }
  .container .new-task-container {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-width: 30rem;
    padding-top: 1rem; }
    .container .new-task-container__title {
      font-size: 2rem;
      padding: 0 0 2rem; }
    .container .new-task-container__input {
      padding: 0.5rem;
      outline: none;
      border: none;
      border-radius: .2rem;
      width: 120%;
      width: 15rem;
      background-color: #c5c0c1; }
    .container .new-task-container .select-container {
      width: 100%;
      max-width: 15rem;
      margin: 1rem; }
      .container .new-task-container .select-container .select-box {
        outline: none;
        width: 10rem;
        padding: 0.5rem;
        border: none;
        margin: 0.5rem auto;
        border-radius: .2rem;
        background-color: #c5c0c1;
        color: #808080; }
    .container .new-task-container__button {
      margin: 2rem 0;
      outline: none;
      border: none;
      background-color: #f7ce3b;
      font-size: 1.4rem;
      padding: 0.5rem 1rem;
      -webkit-transition: all .3s ease-in;
      -o-transition: all .3s ease-in;
      transition: all .3s ease-in; }
      .container .new-task-container__button:hover {
        color: #f7ce3b;
        background-color: #1a2930;
        cursor: pointer;
        -webkit-transition: all .3s ease-in;
        -o-transition: all .3s ease-in;
        transition: all .3s ease-in;
        -webkit-transform: scale(1.1);
            -ms-transform: scale(1.1);
                transform: scale(1.1); }
  .container .tasks-container {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 2rem 0 4rem 0;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around; }
    .container .tasks-container .weekday {
      width: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      background: #f7ce3b;
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      margin: 0.5rem;
      -ms-flex-preferred-size: 19.5rem;
          flex-basis: 19.5rem; }
      .container .tasks-container .weekday__name {
        padding: 1rem;
        font-size: 1.4rem;
        font-weight: 600; }
      .container .tasks-container .weekday .weekday-tasks {
        width: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column; }
        .container .tasks-container .weekday .weekday-tasks__item {
          width: 98%;
          background-color: #c5c1c0;
          margin: 0.2rem;
          border: 1px solid #fff;
          -webkit-animation: animeHeight 1s forwards;
                  animation: animeHeight 1s forwards; }
          .container .tasks-container .weekday .weekday-tasks__item .task-title {
            width: 100%;
            padding: .5rem 0 0; }
          .container .tasks-container .weekday .weekday-tasks__item .icons-box {
            width: 100%;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: center;
                -ms-flex-pack: center;
                    justify-content: center;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center;
            -webkit-box-pack: end;
                -ms-flex-pack: end;
                    justify-content: flex-end; }
            .container .tasks-container .weekday .weekday-tasks__item .icons-box__comment {
              padding-right: .2rem;
              color: #098109;
              font-weight: 700;
              display: block;
              opacity: 0;
              -webkit-transition: all .3s ease-in;
              -o-transition: all .3s ease-in;
              transition: all .3s ease-in; }
            .container .tasks-container .weekday .weekday-tasks__item .icons-box__icon {
              margin: .3rem;
              -webkit-transition: all .1s ease-in;
              -o-transition: all .1s ease-in;
              transition: all .1s ease-in; }
              .container .tasks-container .weekday .weekday-tasks__item .icons-box__icon-complete {
                margin: .3rem; }
                .container .tasks-container .weekday .weekday-tasks__item .icons-box__icon-complete:hover {
                  color: #098109; }
              .container .tasks-container .weekday .weekday-tasks__item .icons-box__icon-delete {
                color: #ff0000; }
              .container .tasks-container .weekday .weekday-tasks__item .icons-box__icon:hover {
                -webkit-transform: scale(1.1);
                    -ms-transform: scale(1.1);
                        transform: scale(1.1);
                -webkit-transition: all .1s ease-in;
                -o-transition: all .1s ease-in;
                transition: all .1s ease-in;
                cursor: pointer; }

@-webkit-keyframes animeHeight {
  0% {
    height: 0;
    opacity: 0; }
  50% {
    height: 4rem; }
  100% {
    height: 100%;
    opacity: 1; } }

@keyframes animeHeight {
  0% {
    height: 0;
    opacity: 0; }
  50% {
    height: 4rem; }
  100% {
    height: 100%;
    opacity: 1; } }
        .container .tasks-container .weekday .weekday-tasks .done-task {
          background-color: #98FB98; }
        .container .tasks-container .weekday .weekday-tasks .done-icon {
          color: #098109; }
        .container .tasks-container .weekday .weekday-tasks .fade {
          opacity: 1; }

.footer {
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: center;
  margin: -2rem 0 0 0;
  height: 2rem;
  font-size: .9rem; }
  .footer p {
    margin: 0 0 0 2.5rem; }
  .footer .fa-heart {
    color: #ff0000; }
