 @import 'mixins';
 .wrapper {
     position: relative;
     width: 100%;
     height: 100%;
     min-height: 100vh;
     overflow: hidden;
     background-image: url('../images/bcg.jpg'); //http://pl.freepik.com/darmowe-wektory/biznesmen-nad-rakietą_1076127.htm">Zaprojektowane przez Freepik
     background-size: cover;
     background-position: top;
     font-family: 'Raleway', sans-serif;
     color: #1a2930;
     margin: 0 auto;
     .mask {
         width: 100%;
         height: 100%;
         background-color: rgba(255, 255, 255, 0.3);
     }
 }
 
 //   -------------- HEADER  STYLE -------------
 .page-header {
     position: absolute;
     @include flexDefault;
     height: 3rem;
     justify-content: space-between;
     .socials {
         @include flexDefault;
         justify-content: space-between;
         max-width: 170px;
         padding-left: 4rem;
         z-index: 1;
         &__item {
             transition: all .3s ease-in;
             &-facebook {
                 color: #3B5998;
             }
             &-twitter {
                 color: #4099ff;
             }
             &-instagram {
                 color: #3f729b;
             }
             &-pinterest {
                 color: #c92228;
             }
             &:hover {
                 transform: scale(0.9);
                 transition: all .3s ease-in;
                 cursor: pointer;
             }
         }
     }
     .burger-container {
         height: 2rem;
         width: 2rem;
         margin-right: 0.5rem;
         z-index: 2;
         .burger {
             height: 100%;
             width: 100%;
             &__item {
                 position: relative;
                 top: 0;
                 display: block;
                 height: .3rem;
                 background-color: #1a2930;
                 position: relative;
                 margin: .3rem 0;
                 transition: all 300ms ease-in;
             }
         }
         &:hover {
             cursor: pointer;
         }
     }
     .burger-container.open span:nth-child(1) {
         top: 9.5px;
         transform: rotate(45deg);
         background-color: #c5c0c1
     }
     .burger-container.open span:nth-child(2) {
         opacity: 0;
     }
     .burger-container.open span:nth-child(3) {
         top: -9.5px;
         transform: rotate(-45deg);
         background-color: #c5c0c1
     }
 }
 
 // -------------- MAIN CONTENT ----------------
 .content {
     @include flexDefault;
     position: relative;
     .sidebar {
         justify-content: flex-start;
         background-color: rgb(26, 41, 48);
         padding: 0.3rem;
         position: absolute;
         top: 0;
         left: 0;
         height: 100%;
         padding-top: 2rem;
         z-index: 2;
         width: 2rem;
         .submenu {
             @include flexDefault;
             flex-direction: column;
             position: fixed;
             width: 2rem;
             &__item {
                 margin: 2rem auto;
                 a {
                     text-decoration: none;
                     color: #c5c0c1;
                     transition: all .3s ease-in;
                     &:hover {
                         color: #f7ce3b;
                         transition: all 300ms ease-in;
                     }
                 }
             }
         }
         @media only screen and(min-width:1000px) {
             display: block;
             transition: all .3s ease-in;
         }
     }
     .main-nav {
         position: absolute;
         top: 0;
         right: 0;
         margin-right: -15rem;
         z-index: 1;
         width: 75%;
         background-color: #1a2930;
         height: 100%;
         max-width: 15rem;
         transition: all 400ms ease-in;
         .menu {
             @include flexDefault;
             flex-direction: column;
             margin-top: 2rem;
             &__item {
                 list-style-type: none;
                 margin: 2rem auto;
                 font-size: 2rem;
                 width: 100%;
                 a {
                     text-decoration: none;
                     color: #c5c0c1;
                     transition: all 500ms ease-in;
                     .fa {
                         font-size: 2rem;
                         margin: 0 1rem 0 2rem;
                     }
                     &:hover {
                         color: #f7ce3b;
                         transition: all 500ms ease-in;
                     }
                 }
             }
         }
     }
     .show-menu {
         margin-right: 0;
     }
 }
 
 .container {
     @include flexDefault;
     flex-direction: column;
     text-align: center;
     margin-left: 2.5rem;
     min-height: 100vh;
     .title {
         width: 100%;
         font-size: 3rem;
         padding: 8rem 0.5rem 3rem;
         font-weight: 700;
     }
     .new-task-container {
         @include flexDefault;
         flex-direction: column;
         max-width: 30rem;
         padding-top: 1rem;
         &__title {
             font-size: 2rem;
             padding: 0 0 2rem;
         }
         &__input {
             padding: 0.5rem;
             outline: none;
             border: none;
             border-radius: .2rem;
             width: 120%;
             width: 15rem;
             background-color: #c5c0c1;
         }
         .select-container {
             width: 100%;
             max-width: 15rem;
             margin: 1rem;
             .select-box {
                 outline: none;
                 width: 10rem;
                 padding: 0.5rem;
                 border: none;
                 margin: 0.5rem auto;
                 border-radius: .2rem;
                 background-color: #c5c0c1;
                 color: #808080;
             }
         }
         &__button {
             margin: 2rem 0;
             outline: none;
             border: none;
             background-color: #f7ce3b;
             font-size: 1.4rem;
             padding: 0.5rem 1rem;
             transition: all .3s ease-in;
             &:hover {
                 color: #f7ce3b;
                 background-color: #1a2930;
                 cursor: pointer;
                 transition: all .3s ease-in;
                 transform: scale(1.1);
             }
         }
     }
     .tasks-container {
         @include flexDefault;
         padding: 2rem 0 4rem 0;
         align-items: flex-start;
         flex-wrap: wrap;
         justify-content: space-around;
         .weekday {
             @include flexDefault;
             flex-direction: column;
             background: #f7ce3b;
             box-sizing: border-box;
             margin: 0.5rem;
             flex-basis: 19.5rem;
             &__name {
                 padding: 1rem;
                 font-size: 1.4rem;
                 font-weight: 600;
             }
             .weekday-tasks {
                 @include flexDefault;
                 flex-direction: column;
                 &__item {
                     width: 98%;
                     background-color: #c5c1c0;
                     margin: 0.2rem;
                     border: 1px solid #fff;
                     animation: animeHeight 1s forwards;
                     .task-title {
                         width: 100%;
                         padding: .5rem 0 0;
                     }
                     .icons-box {
                         @include flexDefault;
                         justify-content: flex-end;
                         &__comment {
                             padding-right: .2rem;
                             color: #098109;
                             font-weight: 700;
                             display: block;
                             opacity: 0;
                             transition: all .3s ease-in;
                         }
                         &__icon {
                             margin: .3rem;
                             transition: all .1s ease-in;
                             &-complete {
                                 margin: .3rem;
                                 &:hover {
                                     color: #098109;
                                 }
                             }
                             &-delete {
                                 color: #ff0000;
                             }
                             &:hover {
                                 transform: scale(1.1);
                                 transition: all .1s ease-in;
                                 cursor: pointer;
                             }
                         }
                     }
                     @keyframes animeHeight {
                         0% {
                             height: 0;
                             opacity: 0;
                         }
                         50% {
                             height: 4rem;
                         }
                         100% {
                             height: 100%;
                             opacity: 1;
                         }
                     }
                 }
                 .done-task {
                     background-color: #98FB98;
                 }
                 .done-icon {
                     color: #098109;
                 }
                 .fade {
                     opacity: 1;
                 }
             }
         }
     }
 }
 
 .footer {
     position: relative;
     @include flexDefault;
     flex-wrap: wrap;
     text-align: center;
     margin: -2rem 0 0 0;
     height: 2rem;
     font-size: .9rem;
     p {
         margin: 0 0 0 2.5rem;
     }
     .fa-heart {
         color: #ff0000;
     }
 }